#titulo {
text-align: center;
font-size: 30px;
 color: rgb(45, 9, 224);
}
.texto {
    text-align: center;
    font-size: 20px;
}
#banner{
    width: 100%;
   
}
body{
    background-color: aqua;
}